Repository pablonification/8ehradioitb: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=10, prettier --write

Add TuneTracker YouTube import workflow
  .github/workflows/tunetracker-youtube-import.yml
Due: prettier --write

fix(routing): reserve events namespace
  lib/eventRoutes.js
  middleware.ts
Due: eslint --fix --max-warnings=10, prettier --write

feat(events): add registration domain schema
  prisma/schema.prisma
Due: none

feat(events): seed profile field catalog
  scripts/check-profile-fields.mjs
  scripts/seed-profile-fields.mjs
Due: none

feat(events): add rbac and validation contracts
  lib/events/auth.js
  lib/events/contracts.js
  scripts/check-event-rbac.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(events): add event and form publish apis
  app/api/events/[eventSlug]/form-versions/[versionId]/publish/route.js
  app/api/events/[eventSlug]/form-versions/route.js
  app/api/events/[eventSlug]/route.js
  app/api/events/route.js
  scripts/check-task-5.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(events): add participant form read api
  app/api/events/[eventSlug]/form/route.js
  lib/events/formRead.js
  scripts/check-task-6.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(events): add registration flow and responses dashboard
  app/api/events/[eventSlug]/form-versions/[versionId]/publish/route.js
  app/api/events/[eventSlug]/form-versions/route.js
  app/api/events/[eventSlug]/registrations/route.js
  app/api/events/[eventSlug]/route.js
  app/api/events/[eventSlug]/submissions/route.js
  app/components/DashboardSidebar.jsx
  app/components/events/EventFormBuilder.jsx
  app/components/events/EventQuestionEditor.jsx
  app/components/events/ParticipantFlow.jsx
  app/components/events/ResponsesTable.jsx
  app/dashboard/events/[eventSlug]/form-builder/page.jsx
  app/dashboard/events/[eventSlug]/page.jsx
  app/dashboard/events/[eventSlug]/responses/page.jsx
  app/dashboard/events/new/page.jsx
  app/dashboard/events/page.jsx
  app/events/[eventSlug]/register/page.jsx
  lib/events/submit.js
  scripts/assert-export-columns.mjs
  scripts/check-task-7.mjs
  scripts/registration-smoke.mjs
  scripts/setup-test-session.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(forms): finalize builder and centralized profile flow
  app/api/events/[eventSlug]/export/xlsx/route.js
  app/api/events/[eventSlug]/submissions/route.js
  app/api/events/route.js
  app/api/files/download-url/route.js
  app/api/profile/database/export/route.js
  app/api/shortlinks/route.js
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/forms/[slug]/responses/page.jsx
  app/dashboard/forms/page.jsx
  app/dashboard/kru-database/page.jsx
  app/dashboard/profile-catalog/page.jsx
  app/dashboard/users/page.jsx
  app/forms/[slug]/page.jsx
  app/globals.css
  app/profile/setup/page.jsx
  lib/events/formRead.js
  lib/forms/schema.js
  lib/forms/slug.js
  lib/forms/submission.js
  lib/profile/database.js
  lib/storage/r2.js
  next.config.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(forms-stage1): add core form/profile backend flow
  app/api/events/[eventSlug]/export/xlsx/route.js
  app/api/events/[eventSlug]/form-versions/[versionId]/publish/route.js
  app/api/events/[eventSlug]/form-versions/route.js
  app/api/events/[eventSlug]/form/route.js
  app/api/events/[eventSlug]/route.js
  app/api/events/[eventSlug]/submissions/me/route.js
  app/api/events/[eventSlug]/submissions/route.js
  app/api/events/route.js
  app/api/files/download-url/route.js
  app/api/forms/upload-url/route.js
  app/api/profile/catalog/route.js
  app/api/profile/database/export/route.js
  app/api/profile/database/route.js
  app/api/profile/me/route.js
  app/api/profile/upload-url/route.js
  app/forms/[slug]/page.jsx
  app/profile/setup/page.jsx
  bun.lock
  lib/eventRoutes.js
  lib/events/auth.js
  lib/events/contracts.js
  lib/events/formRead.js
  lib/forms/schema.js
  lib/forms/slug.js
  lib/forms/submission.js
  lib/forms/validate.js
  lib/profile/database.js
  lib/storage/r2.js
  middleware.ts
  package.json
  prisma/schema.prisma
  scripts/check-event-rbac.mjs
  scripts/check-profile-fields.mjs
  scripts/check-task-5.mjs
  scripts/check-task-6.mjs
  scripts/seed-profile-fields.mjs
Due: eslint --fix --max-warnings=10, prettier --write

perf(forms): optimize identity lookup and export file resolution
  app/api/events/[eventSlug]/submissions/route.js
  lib/forms/submission.js
  lib/profile/database.js
  prisma/schema.prisma
Due: eslint --fix --max-warnings=10, prettier --write

chore: enable Greptile auto trigger on updates
  greptile.json
Due: prettier --write

feat(forms-stage2): ship dashboard builder UI and shortlink UX
  app/api/shortlinks/route.js
  app/components/DashboardSidebar.jsx
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/forms/[slug]/responses/page.jsx
  app/dashboard/forms/page.jsx
  app/dashboard/kru-database/page.jsx
  app/dashboard/page.jsx
  app/dashboard/profile-catalog/page.jsx
  app/dashboard/users/page.jsx
  app/globals.css
  next.config.mjs
Due: eslint --fix --max-warnings=10, prettier --write

fix(forms): harden draft save order and unify shortlink slug rules
  app/api/shortlinks/route.js
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/forms/page.jsx
  lib/shortlinks/slug.js
Due: eslint --fix --max-warnings=10, prettier --write

fix(events): restrict form management to event owner
  app/api/events/[eventSlug]/route.js
  app/api/events/route.js
  lib/events/auth.js
Due: eslint --fix --max-warnings=10, prettier --write

chore(next): pin safe stable Next.js 15.5.12
  bun.lock
  package.json
Due: prettier --write

chore(dev): default to stable Next webpack dev server
  package.json
Due: prettier --write

Revert "chore(dev): default to stable Next webpack dev server"
  package.json
Due: prettier --write

Revert "chore(next): pin safe stable Next.js 15.5.12"
  bun.lock
  package.json
Due: prettier --write

wip: form ye
  app/dashboard/forms/page.jsx
  package.json
Due: eslint --fix --max-warnings=10, prettier --write

feat(forms): harden backend submission and profile data flows
  app/api/events/[eventSlug]/route.js
  app/api/events/[eventSlug]/submissions/route.js
  app/api/profile/database/route.js
  app/api/profile/upload-url/route.js
  lib/events/formRead.js
  lib/forms/schema.js
  lib/forms/submission.js
Due: eslint --fix --max-warnings=10, prettier --write

feat(dashboard): unify form builder workflow and responses tab
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/forms/[slug]/responses/page.jsx
  app/dashboard/forms/page.jsx
  app/dashboard/layout.jsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(ui): polish form and profile pages with production-grade loading states
  app/dashboard/kru-database/page.jsx
  app/dashboard/profile-catalog/page.jsx
  app/forms/[slug]/page.jsx
  app/not-found/page.jsx
  app/password/[slug]/page.jsx
  app/profile/setup/page.jsx
Due: eslint --fix --max-warnings=10, prettier --write

feat(forms): tighten ownership, add profile-claim flow, and normalize phones
  app/api/events/[eventSlug]/submissions/me/route.js
  app/api/events/route.js
  app/api/profile/claim-requests/route.js
  app/api/profile/claim/route.js
  app/api/profile/database/route.js
  app/api/profile/me/route.js
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/forms/page.jsx
  app/dashboard/kru-database/page.jsx
  app/forms/[slug]/page.jsx
  app/globals.css
  app/layout.js
  app/not-found/page.jsx
  app/password/[slug]/page.jsx
  app/profile/setup/page.jsx
  lib/events/auth.js
  lib/profile/claim.js
  lib/profile/phone.js
  prisma/schema.prisma
  scripts/migrate-kru-profiles-from-csv.mjs
  scripts/normalize-profile-phones.mjs
Due: eslint --fix --max-warnings=10, prettier --write

feat(tune-tracker): switch to iTunes search and previews
  app/api/itunes/search/route.js
  app/api/tune-tracker/meta/route.js
  app/api/tune-tracker/route.js
  app/components/home/TuneTracker.jsx
  app/dashboard/tune-tracker/page.jsx
  app/page.jsx
  prisma/schema.prisma
Due: eslint --fix --max-warnings=10, prettier --write

fix(tune-tracker): validate iTunes payload and source type reset
  app/api/itunes/search/route.js
  app/api/tune-tracker/route.js
Due: eslint --fix --max-warnings=10, prettier --write

feat(forms): expand event builder workflow and participant submission handling
  app/api/auth/[...nextauth]/route.js
  app/api/events/[eventSlug]/collaborators/route.js
  app/api/events/[eventSlug]/export/drive/route.js
  app/api/events/[eventSlug]/export/xlsx/route.js
  app/api/events/[eventSlug]/form-versions/[versionId]/publish/route.js
  app/api/events/[eventSlug]/form-versions/route.js
  app/api/events/[eventSlug]/route.js
  app/api/events/[eventSlug]/submissions/route.js
  app/api/events/route.js
  app/components/UserDropdown.jsx
  app/dashboard/forms/[slug]/builder/page.jsx
  app/dashboard/layout.jsx
  app/forms/[slug]/page.jsx
  lib/events/auth.js
  lib/events/formRead.js
  lib/observability/critical.js
  lib/storage/r2.js
Due: eslint --fix --max-warnings=10, prettier --write

feat(profile): improve claim flow and profile setup APIs
  app/api/profile/claim/route.js
  app/api/profile/me/route.js
  app/profile/setup/page.jsx
  lib/profile/claim.js
Due: eslint --fix --max-warnings=10, prettier --write

program tim 1,3,4,5
  app/programs/page.jsx
  public/logo-kelam.png
  public/logo-kiskaskus.png
  public/logo-onair.png
  public/logo-wave.png
Due: eslint --fix --max-warnings=10, prettier --write

chore(programs): convert new program logos from png to webp
  app/programs/page.jsx
  public/logo-kelam.png
  public/logo-kelam.webp
  public/logo-kiskaskus.png
  public/logo-kiskaskus.webp
  public/logo-onair.png
  public/logo-onair.webp
  public/logo-wave.png
  public/logo-wave.webp
Due: eslint --fix --max-warnings=10, prettier --write

fix: card height on programs card
  app/components/ProgramsSlider.jsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(tune-tracker): validate sourceType values before persisting
  app/api/tune-tracker/route.js
Due: eslint --fix --max-warnings=10, prettier --write

fix(tune-tracker): address pr65 review findings
  app/api/tune-tracker/meta/route.js
  app/dashboard/tune-tracker/page.jsx
  prisma/schema.prisma
Due: eslint --fix --max-warnings=10, prettier --write

fix(forms): close pr67 security and consistency gaps
  app/api/events/[eventSlug]/export/drive/route.js
  app/api/events/[eventSlug]/route.js
  app/api/forms/upload-url/route.js
  app/api/profile/claim/route.js
  app/api/profile/upload-url/route.js
  lib/profile/claim.js
Due: eslint --fix --max-warnings=10, prettier --write

chore: ignore sensitive local csv imports
  .gitignore
Due: none

fix: skip onSaveSuccess after iTunes select, guard Enter key search
  app/dashboard/tune-tracker/page.jsx
Due: eslint --fix --max-warnings=10, prettier --write

fix(forms): harden submission cleanup and claim race handling
  app/api/events/[eventSlug]/submissions/route.js
  app/api/profile/claim/route.js
Due: eslint --fix --max-warnings=10, prettier --write

fix(profile): await stale file cleanup in me endpoint
  app/api/profile/me/route.js
Due: eslint --fix --max-warnings=10, prettier --write

Path conditions:
  eslint --fix --max-warnings=10: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yaml,yml})
